
.banner{
  position: absolute;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px 0;
    margin-top: 8px;
}

.banner-main-content{
  margin-top: -10px;
    padding: 0 2rem;
    line-height: 1.7;
    width: 50%;
}

.banner-main-content h2{
    font-size: 18px;
    font-family: var(--heading);
}

.banner-main-content h3{
    padding: 10px;
    font-size: 15px;
}

.banner-main-content button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.banner-main-content button a{
    color: #f3f3f3f3;
    transition: color 1s ease;
}

.banner-main-content button:hover{
    background: #fff;
}

.banner-main-content button:hover a{
    color: #0d0a0b;
}
.current-news-head{
    background: #fff;
    padding: 20px;
    font-size: 12px;
    margin: 20px 0;
}

.current-news-head h3{
    padding: 6px;
    cursor: pointer;
    position: relative;
}

.current-news-head h3:hover::before{
    content: ">> ";
    position: absolute;
    left: -12px;
}

.current-news-head span{
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
}
    
